<div>
  <!--
  * It used for In-line quotation. By default it comes with below styles
  q { display: inline; }
  q:before { content: open-quote;}
  q:after { content: close-quote;
  }
  -->
  Quote
  <p>WWF's goal is to:
    <q>
      Build a future where people live in harmony with nature
      We hope they succeed.
    </q>
  </p>
</div>

<div>
  <!--
  * Used for entire block. By default it comes with below styles
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px; -->
  Blockquote
  <p>Here is a quote from WWF's website:</p>
  <blockquote>
    For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
  </blockquote>
</div>
