<div class="container">
  <div class="row">
    Here you may fing angular samples
  </div>
  <div class="row">
    <a routerLink="/sample/angular-dashboard/content-projection">Content Projection</a>
  </div>
  <div class="container">
    <div class="row">
      <div class="tst col-12 col-sm-6 col-md-4"> Uniform box of content here </div>
      <div class="tst col-12 col-sm-6 col-md-4"> Uniform box of content here </div>
      <div class="tst col-12 col-sm-6 col-md-4"> Uniform box of content here </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
