#start, #pause {
  color: white;
  padding: 8px, 16px;
  margin-top: 10px;
  border-radius: 4px;
}

#start {
  background-color: darkseagreen;
}

#pause {
  margin-left: 11px;
  background-color: crimson;
}
