.container {
  .exConcatMap {
    margin-top: 3rem;
    text-align: center;
    border: 1px solid black;
    padding-bottom: 3rem;
  }
  p {
    margin-top: 20px;
  }

  .radio-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.exExhaustMap, .exCountDown, .exTypeahead {
  margin-top: 3rem;
  text-align: center;
  border: 1px solid black;
  padding-bottom: 3rem;
}

