<div class="container">
  <ng-container>
    <h2>{{timerValue}}</h2>
    <button #btnAbort> Abort Timer</button>
    <input type="text" name="text-input" id="text-input">
    <div id="typeahead-container"></div>
    <section class="exConcatMap">
      <h2>Concat Map Example</h2>
      <p>What is your favourite food</p>
      <div class="radio-container">
        <input
          type="radio"
          class="radio-option"
          name="operator"
          value="🍕">
        <label for="🍕">🍕</label>
      </div>
      <div class="radio-container">
        <input
          type="radio"
          class="radio-option"
          name="operator"
          value="🍔">
        <label for="🍔">🍔</label>
      </div>
      <div class="radio-container">
        <input
          type="radio"
          class="radio-option"
          name="operator"
          value="🥗">
        <label for="🥗">🥗</label>
      </div>
    </section>
  </ng-container>
</div>
