<div class="container">
  <ng-container>
    <section class="exTypeahead">
      <h2>Typeahead</h2>
      <input type="text" name="text-input" id="text-input">
      <div id="typeahead-container"></div>
    </section>

    <section class="exCountDown">
      <h2>CountDownTimer</h2>
      <h3>{{timerValue}}</h3>
      <button #btnAbort> Abort Timer</button>
    </section>
    <section class="exConcatMap">
      <h2>Concat Map Example</h2>
      <p>What is your favourite food</p>
      <div class="radio-container">
        <input
          type="radio"
          class="radio-option"
          name="operator"
          value="🍕">
        <label for="🍕">🍕</label>
      </div>
      <div class="radio-container">
        <input
          type="radio"
          class="radio-option"
          name="operator"
          value="🍔">
        <label for="🍔">🍔</label>
      </div>
      <div class="radio-container">
        <input
          type="radio"
          class="radio-option"
          name="operator"
          value="🥗">
        <label for="🥗">🥗</label>
      </div>
    </section>
    <section class="exExhaustMap">
      <h2>for Exhaust Map</h2>
      <label for="email">Email</label>
      <input name="email" type="email" name="email" name="email">
      <label for="password">Passowrd</label>
      <input name="password" type="password">
      <button id="login">submit</button>
    </section>
  </ng-container>
</div>
