<div class="transformation">
  <h3>rx-transformation works!</h3>
  <p>{{globalMsg}}</p>
  <input id="text-input">
  <div id="input-container">

  </div>
  <br>
  <br>
  <br>
  <!-- Concat Map 🚂 -->
  <h3>Below radios for concatMap</h3>
  <!-- <div *ngIf="isConcatMap"> -->
    <div class="radio-container">
      <input
        type="radio"
        class="radio-option"
        name="operator"
        value="pizza">
      <label for="pizza">Pizza🍕🍕🍕</label>
    </div>
    <div class="radio-container">
      <input
        type="radio"
        class="radio-option"
        name="operator"
        value="burger">
      <label for="burger">Burger🍔🍔🍔</label>
    </div>
    <div class="radio-container">
      <input
        type="radio"
        class="radio-option"
        name="operator"
        value="noodles">
      <label for="noodles">Noodles🍜🍜🍜</label>
    </div>
  <!-- </div> -->

  <div class="my-5">
    <h3>for Exhaust Map</h3>
    <label for="email">Email</label>
    <input name="email" type="email" name="email" name="email">
    <label for="password">Passowrd</label>
    <input name="password" type="password">
    <button id="login">submit</button>
  </div>
</div>

