<div class="transformation">
  <h3>rx-transformation works!</h3>
  <p>{{globalMsg}}</p>
  <input id="text-input">
  <div id="input-container">

  </div>

  <!-- Concat Map 🚂 -->
  <!-- <div *ngIf="isConcatMap"> -->
    <div class="radio-container">
      <input
        type="radio"
        class="radio-option"
        name="operator"
        value="pizza">
      <label for="pizza">Pizza🍕🍕🍕</label>
    </div>
    <div class="radio-container">
      <input
        type="radio"
        class="radio-option"
        name="operator"
        value="burger">
      <label for="burger">Burger🍔🍔🍔</label>
    </div>
    <div class="radio-container">
      <input
        type="radio"
        class="radio-option"
        name="operator"
        value="noodles">
      <label for="noodles">Noodles🍜🍜🍜</label>
    </div>
  <!-- </div> -->
</div>

