/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 25px;
}

footer {
  font-family: monospace;
}
